@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
	--primary-color: #4daf54;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #4daf54, #3d8880);
    font-family: 'poppins';
}

.card {
    margin: 120px auto;
    width: 320px;
    height: 400px;
    background: #272d40;
    padding: 20px;
    border-radius: 15px;
    color: white; 
    position: relative;
}

.card_like, .card_cart {
    font-size: 25px;
    position: absolute;
    left: 20px;
    top: 15px;
    color: white;
	text-decoration: none;
	transition: 0.5s;
    cursor: pointer;
}

.card_cart {
    left: unset;
    right: 20px;
}

.card .card_cart:hover {
    color: var(--primary-color);
}

.card_img {
    width: 90%;
    transition: 0.5s;
    transition-delay: 0.15s;
}

.card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_title, .card_price {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    transition: 0.5s;
    transition-delay: 0.15s;
}

.card_title {
    color: var(--primary-color);
}

.card_size, .card_color {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card_size span{
    padding: 2px 5px;
    width: 30px;
    height: 30px;
    background: #dadada;
    color: black;
    text-align: center;
    font-weight: 700;
    border-radius: 5px;
    margin: 0 7px;
    cursor: pointer;
}

.card_color span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.card_color-green {
    background: green;
}

.card_color-red {
    background: red;
}

.card_color-black {
    background: black;
}

.card_action button{
    background: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    margin: 15px;
    cursor: pointer;
    transition: 0.15s;
}

.card_action button:hover {
    transform: scale(0.9);
}

.card:hover .card_img {
    transform: translateY(-90px) rotate(-20deg);
}

.card:hover .card_title {
    transform: translate(-38px, -70px);
}

.card:hover .card_price {
    transform: translate(-118px, -70px);
}

.card_hidden {
    margin-top: 150px;
    transition: 0.5s;
    transition-delay: 0.15s;
    visibility: hidden;
    opacity: 0;
}

.card:hover .card_hidden {
    margin-top: -40px;
    visibility: visible;
    opacity: 100;
}

